.post-view-container {
  position: fixed; 
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100%; 
  background-color: rgba(0, 0, 0, 0.8); 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  z-index: 100; 
  padding: 0px; 
  box-sizing: border-box; 
}

.post-video {
  width: 100%; 
  max-width: 480px; 
  height: 600px; 
}
.post-image{
  width: 100%; 
  max-width: 480px; 
  height: 600px; 

}

.video-section {
  position: relative; /* Needed for positioning */
}

.interaction-section {
  background-color: white; 
  border-radius: 0; 
  height: 600px; 
  padding: 20px; /* Added padding for better spacing */
}

.description {
  margin-top: 0; 
  flex-grow: 1; 
}

.butt {
  text-align: end;
}

.close-button {
  background-color: #f0f0f0; 
  border: none; 
  padding: 10px 20px; 
  cursor: pointer; 
  text-align: right;
}

.icons {
  display: flex;
  justify-content: space-around; 
  margin-top: 20px; /* Adjusted margin */
}

.icon {
  margin: 0 10px; 
  background: none; 
  border: none; 
  font-size: 24px; 
  cursor: pointer; 
  color: #333; 
}

.comments {
  margin-top: 10px; 
  color: #947373; 
  max-height: 200px; 
  overflow-y: auto; 
}
