/* App.css */
body {
  font-family: 'Helvetica', 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #fafafa;
}

.profile-page {

  background-color: #fff;
  border: 1px solid #dbdbdb;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
.flex{
  display: flex;
}



/* General Button Styling */
button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 14px;
  transition: color 0.2s, background-color 0.2s;
}